body {
    background-color: #1F618D;
}

* {
    font-family: sans-serif;
    color: white;
}

.full-width {
    width: 100%;
    text-align: center;
    margin: 0;
}

.containers__container {
    border: 1px solid white;
    margin: 30px 15rem;
    padding: 30px 10rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: black;
}

.hover-effect {
    background-color: dimgray;
}

.hover-effect:hover {
    background-color: #f1c40f;
    cursor: pointer;
    transform: scale(1.2);
}

