/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

header {
  text-align: center;
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 300;
}

footer {
  text-align: center;
  background-color: #343a40;
  color: #fff;
  padding: 10px 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

/* Main section styles */
main {
  padding: 20px;
}

.choose-chair {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.screen h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #6c757d;
  text-transform: uppercase;
  border-bottom: 4px solid #6c757d;
  width: 100%;
  margin: 0;
}

/* Chair styles */
.chairs button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.chairs button:hover svg {
  transform: scale(1.1);
}

.chairs button:active svg {
  transform: scale(0.9);
}

.chairs button svg {
  fill: #007bff;
}

.chairs button.selected svg {
  fill: #28a745;
}

.chairs button.unavailable svg {
  fill: #dc3545;
}

/* input styles */
.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input input[type="text"] {
  width: 200px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1rem;
}

.input button {
  width: max-content;
}